body {
    background-color: beige;

}
header {
    text-align: center;
    background-color: brown;
    padding: 15px;
    color: white;
}
   
#body{
    text-align: center;
    line-height: 100vh;
}